*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding-left: 0%;
  padding-right: 0%;
}

button {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.body {
  background: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

header {
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-nav__accent {
  color: #2196F3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__item {
  text-align: center;
}

.button {
  border-radius: 4px;
  margin-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  border: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background: #188CE8;
}

.button {
  text-align: center;
  color: #FFFFFF;
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-address__links, .footer-address__link {
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-titles {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.flex-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0%;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.flex-hero:nth-child(4n) {
  margin-right: 0;
}

.flex-hero__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}
.flex-hero__item:nth-child(4n) {
  margin-right: 0%;
}

.flex-hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  padding: 0;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-box :nth-last-child(4) {
  margin-right: 0;
}

.flex-hero__icon {
  width: 70px;
  height: 70px;
}

.flex-hero__title {
  color: primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.flex-hero__text {
  color: title-text-color;
  font-size: 14px;
  line-height: 1.71;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: auto;
  margin-left: auto;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.button-close:hover .modal__icon,
.button-close:focus .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  color: #000000;
  width: 18px;
  height: 18px;
  padding: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-hero {
  padding: 40px;
}

.form-hero__div {
  position: relative;
}

.form-hero__input {
  height: 40px;
  width: 100%;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.form-hero__input:hover, .form-hero__input:focus {
  border-color: #2196F3;
}

.form-hero__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-hero__input:hover + .form-hero__icon,
.form-hero__input:focus + .form-hero__icon {
  fill: #2196F3;
}

.form-hero__group {
  display: block;
}

.form-hero__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-hero__text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

textarea {
  resize: none;
}

.hero-textarea {
  width: 100%;
  height: 132px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-textarea:hover, .hero-textarea:focus {
  border-color: #2196F3;
}

.form-button {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 10px 52px;
  border-color: transparent;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover, .form-button:focus {
  background: #188CE8;
}

.about.section {
  padding-top: 0;
}

.section-primary {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
}
.about-list__item {
  width: 370px;
  margin-right: 30px;
}
.about-list__item:nth-child(3n) {
  margin-right: 0%;
}

.about-list__box {
  position: relative;
  display: block;
}

.about-list__coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.about-list__text {
  height: 16px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team-section {
  color: #212121;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
}

.team-list__item {
  background-color: #FFFFFF;
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team-list__item:nth-child(4n) {
  margin-right: 0%;
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team-list__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.team-social-list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list__links:hover, .team-social-list__links:focus {
  background-color: #2196F3;
}

.team-social-list__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list__links:hover .team-social-list__icon,
.team-social-list__links:focus .team-social-list__icon {
  fill: #FFFFFF;
}

.team-social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-social-list__item:not(:first-child) {
  margin-left: 10px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.client-list__item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.client-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-list__icon:hover, .client-list__icon:focus {
  fill: currentColor;
}

footer {
  background: #2F303A;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address__list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer-address__link {
  color: #FFFFFF;
}

.footer-address__links {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__link {
  margin-bottom: 9px;
}

.footer-address__link :nth-child(4n) {
  margin-bottom: 0px;
}

.footer-address__links:hover,
.footer-address__links:focus {
  color: #2196F3;
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: #2196F3;
}

.footer-social {
  margin-left: 70px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__links:hover, .footer-social__links:focus {
  background-color: #2196F3;
}
.footer-social__links:hover svg, .footer-social__links:focus svg {
  fill: #FFFFFF;
}

.footer-social__icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.footer-social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.flex-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-filter {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 50px;
  padding-left: 0%;
  padding-right: 0%;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #212121;
  border-radius: 4px;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button__button:hover, .filter-button__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button__button:hover, .filter-button__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.filter-button__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button__item .auth-nav__link {
  margin-right: 6px;
  margin-bottom: 50px;
  margin-top: 95px;
}

.portfolio-section__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.portfolio-section__item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
}
.portfolio-section__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-section__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-section__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-section__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-section__box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top-style: none;
}

.portfolio-section__link:hover,
.portfolio-section__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section__link:hover .overlay-relative__box,
.portfolio-section__link:focus .overlay-relative__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-relative {
  position: relative;
  overflow: hidden;
}

.overlay-relative__box {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-relative__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.logo-nav__link {
  color: #212121;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 94px;
}

.logo-footer {
  display: inline-block;
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover, .logo-footer:focus {
  color: #2196F3;
}

.logo-footer__accent {
  color: #2196F3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.site-nav__item:nth-child(3n) {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  margin-right: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -33px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current:hover:after, .site-nav__link--current:focus:after {
  opacity: 0;
}

.auth-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: currentColor;
}

.auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
  margin-right: 30px;
  padding: 0;
}
.auth-nav__item:nth-child(2n) {
  margin-right: 0%;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  color: #FFFFFF;
}

.footer-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.footer-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188CE8;
}

.section {
  color: #212121;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-checkbox__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  margin-left: 8px;
}

.hero-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}

.hero-checkbox__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
  text-decoration: underline;
}

.hero-checkbox__checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-checkbox__icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-checkbox__input:checked + .hero-checkbox__checkbox {
  background-color: rgb(33, 150, 243);
  border: 1px solid rgb(33, 150, 243);
}

.hero-checkbox__input:checked + .hero-checkbox__checkbox .hero-checkbox__icon {
  opacity: 1;
  fill: #FFFFFF;
}

.hero-checkbox__input:focus + .hero-checkbox__checkbox,
.hero-checkbox__input:hover + .hero-checkbox__checkbox {
  border-color: #2196F3;
}/*# sourceMappingURL=main.css.map */