.hero {padding-top: 200px;
    padding-bottom: 200px;
    background-color: $bg-color;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
      url(../images/Img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

.hero__title {
    color: $fon-text-color;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;}

.hero__item { text-align: center;}

.button {
    @extend %button;
    border-radius: 4px;
    margin-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
display: inline;
border: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {background: $button;
}