.logo-nav__link { 
    color: $primary-text-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 94px;}

    .logo-footer {
        display: inline-block;
        color: $fon-text-color;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: $accent-text-color;}
    }

    .logo-footer__accent {
        color: $accent-text-color;
    }