.portfolio-section__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
 }
.portfolio-section__item {
        width: calc((100% - 60px)/3);
        margin-bottom: 30px;
        margin-right: 30px;
&:nth-child(3n) {
            margin-right: 0;}
&:nth-last-child(-n+3) {
            margin-bottom: 0;} 
}
      
.portfolio-section__text {
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.88;}
    

.portfolio-section__title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;}

.portfolio-section__box{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid $portfolio-box-color;
    border-top-style: none;   
    }


.portfolio-section__link:hover,
.portfolio-section__link:focus {
    box-shadow: 0px 1px 1px $button-hover-color, 0px 4px 4px $shadow-color, 1px 4px 6px $shadow-hover-color;
}

.portfolio-section__link:hover .overlay-relative__box,
.portfolio-section__link:focus .overlay-relative__box {
    transform: translateY(0);
}
.overlay-relative {
    position: relative;
    overflow: hidden;}

.overlay-relative__box {
        position: absolute;
        background: $overlay-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex-center;
    padding-left: 24px;
    padding-right: 24px;    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.overlay-relative__text {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $fon-text-color;
    }
