$primary-text-color: #212121;
$title-text-color: #757575;
$accent-text-color: #2196F3;
$fon-text-color: #FFFFFF;
$fon-text-color-rgba: #FFFFFF99;
$bg-color: #2F303A;
$social-icon:#AFB1B8;
$checkbox-color: #2a2a2a;
$box-color: #F5F4FA;
$main-color: #ECECEC;
$button: #188CE8;
$modal-svg: #000000;
$portfolio-box-color: #EEEEEE;
$backdrop: rgba(0, 0, 0, 0.2);
$modal: rgba(255, 255, 255, 1);
$button-close: rgba(0, 0, 0, 0.1);
$form-button: rgba(0, 0, 0, 0.15);
$about-color: rgba(47, 48, 58, 0.8);
$team-links-color: rgba(255, 255, 255, 0.1);
$current-color: rgba(175, 177, 184, 1);
$footer-input-color: rgba(47, 48, 58, 1);
$border-input-color: rgba(255, 255, 255, 0.3);
$filter-button-color: rgba(0, 0, 0, 0.08);
$button-hover-color: rgba(0, 0, 0, 0.12);
$shadow-color: rgba(0, 0, 0, 0.06);
$shadow-hover-color: rgba(0, 0, 0, 0.16);
$overlay-color: rgba(33, 150, 243, 0.9);
$textarea-color: rgba(117, 117, 117, 0.5);
$textarea-border: rgba(33, 33, 33, 0.2);
$checkbox-text-color: rgba(117, 117, 117, 1);
$checkbox-link-color: rgba(33, 150, 243, 1);

$width: 100%;
